@page "/"

<PageTitle>Radioactive</PageTitle>

<h1>Spartan Kebab</h1>

@* Wyświetlanie mapki google z pinezką w konkretnych rozmiarach *@
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2504.8693480081206!2d17.029704726881178!3d51.11087068959332!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fc27582a712cb%3A0xf3cc96229f8d5dc9!2sSpartan%20Kebab!5e0!3m2!1spl!2spl!4v1715105093994!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<br />
Nie polecam!

